@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
 
body {
    /* Fond en dégradé du bleu sombre vers le blanc */
    background: linear-gradient(135deg, #ffffff, #003366, #a91c1c);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
}
 
@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}