#navigation {
    height: 67px;
    background: rgba(255, 255, 255, 0.205);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    .flex {
        height: 100%;
        display: flex;
        align-items: center;
        img {
            width: auto;
            height: 100%;
        }
    }
    a {
        height: 100%;
        padding: 20px;
        background: transparent;
        text-align: center;
        &:visited {
            color: black;
        }
        &:hover {
            box-shadow: inset 0 0 15px black;
        }
    }
    input {
        padding: 5px;
        width: 500px;
    }
}