.profil {
    text-align: center;
    width: 100%;
    h2 {
        padding: 20px;
    }
}
 
.container {
    display: flex;
}
.box {
    height: fit-content;
    position: relative;
    text-align: center;
    padding: 20px;
    margin: 20px auto;
    width: 35%;
    border: 2px solid lightgray;
    background: rgba(255, 255, 255, 0.219);
    border-radius: 10px;
    .globalmatch {
        display: flex;
    }
}
 
.info {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Ajoute un espace entre chaque carte */
    margin-bottom: 20px;
}
 
.data {
    background: rgba(255, 255, 255, 0.233);
    flex: 1 1 calc(10% - 20px); /* Largeur de chaque carte : 45% avec espace de 20px */
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box; /* Pour inclure les bordures et les paddings dans la largeur */
    border-radius: 10px;
    min-width: 200px; /* Largeur minimale pour les cartes */
}
 
.cardrequest {
    display: flex;
    width: 100%;
    padding: 20px;
    gap: 30px;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    border-radius: 10px;
   
}
.green {
    background: rgba(0, 128, 0, 0.377);
}


.halfwidth {
    width: 50%;
    .cardrequest {
        display: flex;
        width: 100%;
        padding: 20px;
        gap: 30px;
        flex-wrap: wrap;
        border: 1px solid #ccc;
        border-radius: 10px;
       
    }
    .green {
        background: rgba(0, 128, 0, 0.377);
    }
}
 

h3 {
    padding: 10px;
}